.u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 573px;
}

.u-section-6-1 .u-group-1 {
  width: 821px;
  min-height: 513px;
  background-image: none;
  margin: 30px 0 0 auto;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-1 .u-icon-1 {
  height: 74px;
  width: 74px;
  margin: 28px auto 0;
}

.u-section-6-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 64px 0 0;
}

.u-section-6-1 .u-text-2 {
  line-height: 25.6px;
  font-weight: normal;
  width: 571px;
  margin: 50px auto 0;
}

.u-section-6-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  width: 291px;
  margin: 64px auto 0;
}

.u-section-6-1 .u-layout-wrap-1 {
  width: 289px;
  margin: -513px auto 30px 0;
}

.u-section-6-1 .u-layout-cell-1 {
  min-height: 513px;
  background-image: linear-gradient(to right, #2e4e7a, #333129);
}

.u-section-6-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6-1 .u-group-1 {
    width: 675px;
    min-height: 516px;
    margin-top: 43px;
  }

  .u-section-6-1 .u-icon-1 {
    margin-top: 0;
    margin-left: 251px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-6-1 .u-text-2 {
    width: auto;
    margin-top: 73px;
    margin-right: 95px;
    margin-left: 61px;
  }

  .u-section-6-1 .u-text-3 {
    width: auto;
    margin-top: 50px;
    margin-right: 141px;
    margin-left: 107px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 265px;
    margin-top: -516px;
    margin-bottom: 60px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-6-1 .u-text-4 {
    margin-top: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-6-1 .u-group-1 {
    margin-top: 175px;
    min-height: 467px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 4px;
  }

  .u-section-6-1 .u-icon-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-6-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-6-1 .u-text-2 {
    margin-top: 38px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-6-1 .u-text-3 {
    width: 220px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-top: -642px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-6-1 .u-text-4 {
    width: 189px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-6-1 .u-group-1 {
    margin-top: 156px;
    min-height: 465px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-1 .u-text-2 {
    margin-right: 67px;
    margin-left: 53px;
  }

  .u-section-6-1 .u-text-3 {
    margin-top: 53px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-top: -621px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-6-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-1 .u-text-4 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-6-1 .u-group-1 {
    margin-top: 136px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-icon-1 {
    margin-top: 22px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-6-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6-1 .u-text-3 {
    margin-top: 38px;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-top: -601px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}.u-section-6-2 {
  background-image: none;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 573px;
}

.u-section-6-2 .u-group-1 {
  width: 823px;
  min-height: 513px;
  background-image: none;
  margin: 30px 0 0 auto;
}

.u-section-6-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6-2 .u-icon-1 {
  height: 74px;
  width: 74px;
  margin: 25px auto 0;
}

.u-section-6-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px 0 0;
}

.u-section-6-2 .u-text-2 {
  line-height: 25.6px;
  font-weight: normal;
  width: 573px;
  margin: 55px auto 0;
}

.u-section-6-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  width: 291px;
  margin: 56px auto 0;
}

.u-section-6-2 .u-layout-wrap-1 {
  width: 289px;
  margin: -513px auto 30px 0;
}

.u-section-6-2 .u-layout-cell-1 {
  min-height: 513px;
  background-image: linear-gradient(to right, #333129, #2e4e7a);
}

.u-section-6-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6-2 .u-group-1 {
    width: 655px;
    min-height: 516px;
    margin-top: 43px;
    margin-right: 25px;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-6-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-6-2 .u-text-2 {
    width: 406px;
    margin-top: 38px;
  }

  .u-section-6-2 .u-text-3 {
    width: 313px;
    margin-top: 73px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 261px;
    margin-top: -516px;
    margin-bottom: 60px;
    margin-left: -1px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-6-2 .u-text-4 {
    margin-top: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-6-2 .u-group-1 {
    width: 718px;
    min-height: 471px;
    margin-top: 172px;
    margin-right: auto;
    margin-left: -1px;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-top: 16px;
    padding-right: 30px;
  }

  .u-section-6-2 .u-icon-1 {
    margin-top: 43px;
  }

  .u-section-6-2 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-6-2 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-6-2 .u-text-3 {
    margin-top: 43px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 718px;
    margin-top: -646px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-6-2 .u-text-4 {
    width: 195px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-6-2 .u-group-1 {
    margin-top: 153px;
    min-height: 467px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-2 .u-icon-1 {
    margin-top: 15px;
    margin-right: 217px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6-2 .u-text-2 {
    width: 372px;
    margin-top: 47px;
  }

  .u-section-6-2 .u-text-3 {
    margin-top: 35px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -623px;
    margin-left: 0;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-6-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-6-2 .u-group-1 {
    margin-top: 134px;
    min-height: 439px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-6-2 .u-icon-1 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 121px;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 11px;
    margin-right: 3px;
    margin-left: -2px;
  }

  .u-section-6-2 .u-text-2 {
    width: 253px;
    margin-top: 24px;
  }

  .u-section-6-2 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    margin-top: -576px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 136px;
  }

  .u-section-6-2 .u-text-4 {
    margin-top: -1px;
  }
}.u-section-1 {
  background-image: url("images/pexels-photo-3184460.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  text-transform: none;
  margin: 330px 0 0 884px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0 0 599px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  margin: 21px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 225px;
    margin-left: 681px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 110px;
    margin-left: 462px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 281px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 100% 50%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 141px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-text-1 {
  margin: 35px 490px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 225px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 11px 287px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 44px 96px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 225px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 11px 214px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 252px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 50px;
}

.u-section-2 .u-text-6 {
  margin: 20px 224px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 62px 96px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 252px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 390px;
    margin-right: 390px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 187px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 114px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 124px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 280px;
    margin-right: 280px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 77px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 4px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 14px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 190px;
    margin-right: 190px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 150px;
  }
}.u-section-3 {
  background-image: linear-gradient(#4c7397, #77aad9);
}

.u-section-3 .u-sheet-1 {
  min-height: 486px;
}

.u-section-3 .u-group-1 {
  min-height: 486px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#425465, #4c7397);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-1 {
  font-family: Raleway, sans-serif;
  margin: 0 5px;
}

.u-section-3 .u-text-2 {
  width: 594px;
  margin: 21px auto 0;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 46px 722px 0 171px;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: -76px 319px 0 711px;
}

.u-section-3 .u-text-5 {
  margin: 20px 663px 0 230px;
}

.u-section-3 .u-text-6 {
  margin: -25px 233px 0 660px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 622px;
    margin-left: 71px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 219px;
    margin-left: 611px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 563px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 133px;
    margin-left: 560px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 473px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 109px;
    margin-left: 501px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 453px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 23px;
    margin-left: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 30px;
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 34px;
  }

  .u-section-3 .u-text-2 {
    width: 520px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-right: 321px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: -32px;
    margin-left: 365px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 267px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 333px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 594px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 103px;
    margin-right: 181px;
    margin-left: -48px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -152px;
    margin-right: -103px;
    margin-left: 237px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 85px;
    margin-right: 124px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -110px;
    margin-right: -55px;
    margin-left: 188px;
  }
}.u-section-4 {
  min-height: 655px;
}

.u-section-4 .u-sheet-1 {
  min-height: 639px;
}

.u-section-4 .u-group-1 {
  background-image: linear-gradient(#db545a, black);
  min-height: 321px;
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 86px auto 0 -30px;
}

.u-section-4 .u-group-2 {
  width: 575px;
  min-height: 414px;
  margin: -438px 7px -283px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 33px 184px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 60px 117px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  font-weight: 700;
  margin: 47px auto 0 141px;
  padding: 9px 24px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    min-height: 360px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 627px;
    margin-top: 57px;
  }

  .u-section-4 .u-group-2 {
    width: 451px;
    min-height: 422px;
    margin-top: -457px;
    margin-right: -11px;
    margin-bottom: -204px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 191px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 38px;
    margin-right: 124px;
  }

  .u-section-4 .u-btn-1 {
    font-weight: 400;
    margin-top: 33px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-4 .u-group-1 {
    min-height: 481px;
    margin-top: 17px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    width: 558px;
    margin-top: 28px;
  }

  .u-section-4 .u-group-2 {
    width: 454px;
    min-height: 362px;
    margin-top: -371px;
    margin-right: -30px;
    margin-bottom: -81px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 67px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-4 .u-group-1 {
    min-height: 443px;
    width: 518px;
    margin-top: 22px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    height: 311px;
    width: 520px;
    margin-top: 36px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -126px;
    margin-bottom: -180px;
    min-height: 373px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 270px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 203px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    min-height: 374px;
    width: 340px;
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 191px;
    margin-top: -25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 335px;
    width: 320px;
    margin: 14px auto -221px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -20px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 40px;
    margin-right: 65px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 973px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 44px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 885px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  width: 188px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 885px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-5 .u-group-1 {
  width: 384px;
  min-height: 282px;
  background-image: linear-gradient(to right, #292d33, #41807c);
  margin: -30px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 190px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 46px auto 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0;
  padding: 6px 9px 7px;
}

.u-section-5 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-group-2 {
  width: 384px;
  min-height: 245px;
  background-image: linear-gradient(to right, #292d33, #41807c);
  margin: 38px auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 6px 232px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 28px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 52px auto 0;
  padding: 6px 9px 7px;
}

.u-section-5 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-group-3 {
  width: 384px;
  min-height: 288px;
  background-image: linear-gradient(to right, #292d33, #41807c);
  margin: 32px auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 28px auto 0;
  padding: 6px 9px 7px;
}

.u-section-5 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 799px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 105px;
    margin-right: 105px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 799px;
  }

  .u-section-5 .u-group-1 {
    min-height: 252px;
    margin-top: 249px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-2 {
    min-height: 239px;
    margin-top: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
  }

  .u-section-5 .u-group-3 {
    width: 380px;
    min-height: 258px;
    margin-top: -799px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 822px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 822px;
  }

  .u-section-5 .u-group-1 {
    width: 300px;
    margin-top: -30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 118px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-5 .u-group-2 {
    width: 300px;
    margin-top: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 160px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 64px;
    margin-bottom: -12px;
  }

  .u-section-5 .u-group-3 {
    width: 300px;
    min-height: 291px;
    margin-top: 20px;
    margin-left: 1px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 97px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 542px;
    margin: 12px -1px 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 275px;
  }

  .u-section-5 .u-group-2 {
    width: 364px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-3 {
    min-height: 280px;
    margin-bottom: -778px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -1px;
    margin-right: auto;
    margin-left: 71px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 118px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-3 {
    min-height: 267px;
    margin-top: 8px;
    margin-bottom: -641px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-b459-5 {
  position: absolute;
  top: auto;
  bottom: 19px;
}

.u-block-b459-8 {
  background-image: none;
  width: 65px;
  height: 65px;
  left: calc(((100% - 1140px) / 2)  + 317px);
  top: auto;
  right: auto;
  bottom: 184px;
  position: absolute;
}

.u-block-b459-9 {
  background-image: none;
  width: 65px;
  height: 65px;
  left: auto;
  top: auto;
  position: absolute;
  right: calc(((100% - 1140px) / 2)  + 30px);
  bottom: 184px;
}

@media (max-width: 1199px) {
  .u-block-b459-8 {
    left: calc(((100% - 940px) / 2)  + 261px);
  }

  .u-block-b459-9 {
    right: calc(((100% - 940px) / 2)  + 25px);
  }
}

@media (max-width: 991px) {
  .u-block-b459-8 {
    left: calc(((100% - 720px) / 2)  + 200px);
  }

  .u-block-b459-9 {
    right: calc(((100% - 720px) / 2)  + 19px);
  }
}

@media (max-width: 767px) {
  .u-block-b459-8 {
    left: calc(((100% - 540px) / 2)  + 150px);
  }

  .u-block-b459-9 {
    right: calc(((100% - 540px) / 2)  + 14px);
  }
}

@media (max-width: 575px) {
  .u-block-b459-8 {
    left: calc(((100% - 340px) / 2)  + 94px);
  }

  .u-block-b459-9 {
    right: calc(((100% - 340px) / 2)  + 9px);
  }
}.u-section-7 {
  background-image: linear-gradient(#425465, #292e33);
}

.u-section-7 .u-sheet-1 {
  min-height: 517px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 32px 0 43px;
}

.u-section-7 .u-image-1 {
  min-height: 468px;
  background-image: url("images/24522258-0.png");
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-group-1 {
  min-height: 442px;
  background-image: none;
  margin-top: -30px;
  margin-bottom: -30px;
}

.u-section-7 .u-container-layout-3 {
  padding: 40px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: 56px 308px 0 0;
}

.u-section-7 .u-form-1 {
  height: 218px;
  width: 437px;
  margin: 43px 0 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
}

.u-section-7 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 386px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-7 .u-group-1 {
    min-height: 360px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 5px;
    padding-bottom: 32px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-right: 208px;
  }

  .u-section-7 .u-form-1 {
    width: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-7 .u-image-1 {
    min-height: 296px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -17px;
    margin-bottom: -17px;
    min-height: 274px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0 30px 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 17px;
    margin-right: 158px;
  }

  .u-section-7 .u-form-1 {
    width: 287px;
    margin-top: 0;
    margin-bottom: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-7 .u-image-1 {
    min-height: 444px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -131px;
    margin-bottom: -30px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 280px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -45px;
    margin-bottom: -101px;
    min-height: 271px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    margin-top: 5px;
    margin-bottom: 0;
  }
}.u-section-8 {
  background-image: url("images/default-image.jpg?rand=7956");
}

.u-section-8 .u-sheet-1 {
  min-height: 445px;
}

.u-section-8 .u-group-1 {
  width: 800px;
  min-height: 340px;
  height: auto;
  margin: 53px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 5px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  width: 147px;
  margin: 80px auto 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 51px;
  min-height: 16px;
  width: 264px;
  min-width: 124px;
  margin: 35px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-8 .u-icon-2 {
  height: 100%;
  color: rgb(0, 119, 183) !important;
}

.u-section-8 .u-icon-3 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-8 .u-icon-4 {
  height: 100%;
  color: rgb(33, 33, 33) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-8 .u-group-1 {
    min-height: 261px;
    height: auto;
  }

  .u-section-8 .u-text-1 {
    width: 137px;
    margin-top: 41px;
  }

  .u-section-8 .u-social-icons-1 {
    height: 34px;
    width: 196px;
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    height: 64px;
    margin-right: 292px;
    margin-left: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 202px;
    margin-left: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 102px;
    margin-left: 88px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 142px;
}

.u-section-9 .u-text-1 {
  font-weight: 900;
  margin: 45px 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-bottom: 31px;
  }
}